*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --first-message-color: #171515;
  --second-message-color: #FBF2F2;
  --message-bg-color: #F2EDED;
  --text-color: #06010D;
  --second-color: #BBAAAA;
  --main-color: #7210FF;
  --number-color:#F8F6F6;
  --tab-text: #110202;
  --border-color: #707070;
  --icon-color: #D4BFBF;
  --title-color: #07030C;
}